# Compiled Object files
*.slo
*.lo
*.o

# Object definition files
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
output/

# Python
__init__.py
*.pyc

*.root
*.png
*.pdf

docs/html

Combine4tau/archive
Combine4tau/logs
Combine4tau/outputs
Combine4tau/shapes
Combine4tau/shapes_bk
